.bgImg{
    background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/915988c20bba56c0b5691503/pexels-photo-3218467.jpeg);
    width: 100vw;
    height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.shadowWrapper {
    width:100vw;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color:rgba(0,0,0,.3);
}

.logo{
    padding: 150px 0 100px 0;
    
}

.text{
    color: white;
    width: 45vw;
    height: 45vh;
}

.title{
    font-size: 3.5rem;
}

.paragraph{
    font-size: 1rem;
    padding: 50px 0 50px 0;
}